* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.instagram-container {

    width: 150%;
    max-width: 400px;
    margin: auto;
    border: 1px solid #ccc;
    margin-top: 15px;
}

.instagram-logo {

    width: 100%;
    max-width: 200px;
    margin: auto;
    margin-top: 10px;
}

.instagram-logo img {

    width: 100%;
}

.instagram-status {

    font-size: 18px;
    text-align: center;
    color: #aaa;
}

.instagram-container-inside {

    padding: 25px;
}

.instagram-container-inside button {

    width: 100%;
    padding: 8px;
    margin: 8px;
    border: none;
    font-size: 12px;
    color: white;
    background-color: #3897f0;
    border-radius: 5px;
    cursor: pointer;
}

.instagram-container-inside h5 {

    color: #C0C0C0;
    text-align: center;
}

.instagram-container-inside h6 {

    text-align: center;
    color: red;
    font-size: 18px;

}

.instagram-container-inside input[type=email],
input[type=text],
input[type=password] {

    width: 100%;
    padding: 8px;
    margin: 6px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    background-color: #F0F0F0;
    font-size: 12px;
    border-radius: 4px;
}

.instagram-container-inside p {

    font-size: 16px;
    text-align: center;
    color: #aaa;
}

.instagram-bottom-container {

    width: 100%;
    max-width: 350px;
    margin: auto;
    border: 1px solid #ccc;
    margin-top: 15px;
}

.instagram-bottom-container h4 {

    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}